* {
  margin: 0;
  padding: 0;
  border: none;
}

html {
  font: normal 24px Helvetica, Arial, sans-serif;
  background-color: white;
  color: black
}

h1 {
  background-color: blue;
  color: white;
}

header {
  text-align: center;
  background-color: blue;
}

nav {
  background-color: cyan;
}

ul {
  list-style-type: none;
  display: flex;
}

li {
  text-align: center;
  width: 20%;
}

a {
  box-sizing: border-box;
  display: inline-block;
  padding: 1rem 0;
  text-decoration: none;
  width: 100%;
}

a:focus,
a:hover {
  background-color: blue;
  color: yellow;
}

main {
  display: flex;
  flex: 2;
}

article,
aside {
  padding: 1rem 1rem;

}

aside {
  background-color: lightgreen;
}

p {
  padding-bottom: 1rem;
}


footer {
  background-color: yellow;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

img {
  display: block;
  height: 200px;
}

#copyright {
  box-sizing: border-box;
  margin: 0 1rem;
  
}

#logo {
  background-color: orange;
  order: -1;
  display: flex;

}

